<body class="app-common-container">
    <%= render "partials/common_header" %>
    <main class="sub-heading-content">
        <%= render "partials/book_review_form", url: book_review_path(@book_review), action: "edit" %>
    </main>
</body>