<body class="app-common-container">
    <%= render "partials/common_header" %>
    <main class="sub-heading-content">
        <%= render "partials/article_form", url: article_path(@article), action: "Edit" %>
    </main>
</body>