<body class="app-common-container">
    <%= render "partials/common_header" %>
    <main class="sub-heading-content">
        <%= render "partials/article_form", url: articles_path(@article), action: "New" %>
    </main>
</body> 