<div class="common-footer">
    <h3 class="letter-heading">
        <% "NEWSROOM".each_char do |char| %>
            <span><%= char %></span>
        <% end %>
    </h3>
    <p> © Copyright 2025 Newsroom - Vijay DA. All rights reserved. Newsroom is not responsible for the content of external sites.</p>
</div>