<body class="app-common-container">
    <%= render "partials/common_header" %>
    <main class="sub-heading-content">
        <%= render "partials/news_form", url: news_path(@news), action: "Edit" %>
    </main>
</body>