<body class="app-common-container">
    <%= render "partials/common_header" %>
    <main class="sub-heading-content">
        <%= render "partials/game_review_form", url: game_reviews_path(@game_review), action: "new" %>
    </main>
</body>