/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/* newsroom cover css start */

.app-home-page{
    height: 100vh;
    width: 100vw;
    background-image: url('home_page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; 
}

.main-content{
    text-align: center;
    padding: 20px;
    background-color: #f4e3c2;
    color:#242326;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.header-n-description{
    border-right: 2px groove black;
    padding: 10px;
}

.header-n-description h1{
    font-family: monospace;
    font-weight: bold;
    font-size: xxx-large;
}

.header-n-description p{
    font-family: monospace;
    font-size: large;
}

.signin-signup-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.home-register-link{
    text-decoration: none;
    font-family: monospace;
    transition: background-color 0.3s ease; 
    border-radius: 5px;
    padding:10px;
    flex: 1;
    background-color: #242326;
    color: white;
    font-weight: bold;
}

.home-register-link:hover {
    background-color: #424141;
    cursor: pointer;
}

.home-login-link{
    text-decoration: none;
    font-family: monospace;
    transition: background-color 0.3s ease; 
    border-radius: 5px;
    padding:8px;
    flex: 1;
    background-color: #ffffff;
    color: #242326;
    cursor: pointer;
    font-weight: bold;
    margin-top: 5px;
}

.signin-signup-links span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #5f5d5d;
}

footer{
    color: #ffffff;
    position: fixed;
    bottom: 0;
    background-color: #242326;
    padding: 4px;
    border-radius: 4px;
    width: 100%;
    text-align: center;
}

/* newsroom cover css end */