.game-review-card-content{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    padding: 20px;
}

.game-review-card {
    box-shadow: 0 4px 8px rgba(235, 225, 206, 0.1);
    border-radius: 8px;
    overflow: hidden; 
    display: flex;
    flex-direction: row; 
    height: auto; 
    flex-grow: 1;
    width: 100%;
    justify-self: start;
}

.review-image-box{
    width: 100%;
    height: 300px;
    overflow: hidden;
    flex: 0.5;
}

.review-image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.review-content{
    flex: 1.5;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    color: #c6d1fa;
    margin-left: 10px;
}

.review-title{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: #c6d1fa;
}

.review-description{
    color: #bbdaee;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.review-release{
    color: #9dd3ec;
}

.review-rating{
    width: 40px;
    height: 40px;
    border-radius:50%;
    color:  #e8e5ee;
    background-color: #444546;
    border: 2px solid #fa3100;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

.full-review-link{
    text-decoration: none;
}

.review-title:hover{
    color: orange;
}

.game-review-review{
    color: #ffffff;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25%;
    margin-right: 25%;
}

.game-review-header{
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.game-review-back {
    text-decoration: none;
    color: #eebb79;
    float: left;
}

.game-review-edit{
    text-decoration: none;
    color: #eebb79;
    float: right;
}

.sidebar-review-card{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    padding: 10px;
    border-bottom: 2px solid rgb(116, 103, 103);
    gap: 10px;
}

.sidebar-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar-image-box{
    flex: 1;
}
.sidebar-review-content{
    flex: 1;
}

.game-review-title{
    text-align: center;
    color: rgb(231, 240, 243)
}

.game-review-rating-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-review-rating {
    width: 120px;
    height: 120px;
    border-radius:50%;
    color:  #e8e5ee;
    background-color: #444546;
    border: 5px solid #fa3100;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 2.2em;
    font-weight: bold;
}

.game-review-text-verdict{
    color: #c1e0f5;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 2.2em;
    text-align: center;
    margin-top: 10px;
}

.game-image{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 50%;
    object-fit: cover; 
    overflow: hidden;
}

.game-review-content{
    margin-bottom: 30px;
}